<h1>{{titulo}}</h1> <!--Puedo llamar propiedades de la CLASE principal de mi componente desde la vista utilizando Brinding por interpolación-->
<h2>{{year}}</h2>
<p>{{comentario}}</p>
<p>ESTA ES LA VISTA (siempre es un .html) <br>
    <span>
Ahora tenemos toda La Vista separada del componente(el html y la templeteUrl por un lado y el ts por otro), podemos enviar datos de la Clase a La Vista creando propiedades, métodos y llamándolos desde la vista.
    </span>
</p>
<hr>

<p>Estos son los componentes desde la vista mi-componente.component.html</p>
<peliculas></peliculas>
<app-pruebas></app-pruebas>

<hr>