<!-- PASAR DESDE COMPONENTE PADRE A COMPONENTE HIJO:
APP.COMPONENT.HTML ES EL "COMPONENTE PADRE" DE APP.SLIDER
Con la directivaNombre le paso el texto 'Formulario' al componente hijo slider -->
<app-slider 
  [directivaNombre]="'Formulario'"
  [size]="'small'"
></app-slider>

<div class="center">
  <section id="content">

    <!-- Para que el form sea reactivo en Angular y funcione y valide debo 
    1ro importar en app.module.ts el FormsModule y cargar en imports del mismo 
    2do usar el evento (ngSubmit) para vincular con metodo onSubmit al ts
    3ro poner nombre al form con #userForm="ngForm" 
    4to poner el nombre para angular a cada input #nombre="ngModel"
    5to decirle que campo del objeto .ts va a rellenar:
      [(ngModel)]="user.nombre" 
    donde [(ngModel)] es la etiqueta de binding bidireccional
    y "user.nombre" es el campo de mi objeto user que llenará-->
    <form class="mid-form" #userForm="ngForm" (ngSubmit)="onSubmit()">
      
      <div class="form-group">
        <label for="nombre">Nombre: {{user.nombre}}</label>
        <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="user.nombre" required pattern="[a-zA-Z]+"/>
          <!-- Validacion con angular -->
        <small *ngIf=" !nombre.valid && nombre.touched">
          El nombre no es válido
        </small>
      </div>

      <div class="form-group">
        <label for="apellidos">Apellidos: {{user.apellidos}}</label>
        <input type="text" name="apellidos" #apellidos="ngModel" [(ngModel)]="user.apellidos" required pattern="[a-zA-Z]+" />
        <small *ngIf=" !apellidos.valid && apellidos.touched">
          Los apellidos no son válidos
        </small>
      </div>

      <div class="form-group">
        <label for="bio">Biografía: {{user.bio}}</label>
        <textarea name="bio" #bio="ngModel" [(ngModel)]="user.bio" required ></textarea>
        <small *ngIf=" !bio.valid && bio.touched">
          La biografía no es válida
        </small>
      </div>

      <div class="form-group radio-button">
        <input type="radio" name="genero" value="hombre" #genero="ngModel" [(ngModel)]="user.genero" required/>Hombre
        <input type="radio" name="genero" value="mujer" [(ngModel)]="user.genero"/>Mujer
        <input type="radio" name="genero" value="otro" [(ngModel)]="user.genero"/>Otro
        <br>
        {{user.genero}}
        <small *ngIf=" !genero.valid && genero.touched">
          El género no es válido
        </small>

      </div>

      <div class="clearfix"></div>


      <!-- La validacion:
        1ro. se hace con html5 y js a traves de "required" y pattern="[regEx]+"
        2do. con angular:  <small *ngIf=" !nombre.valid && nombre.touched">
        3ro en el boton submit que no envie el form si tiene un error con
        el [disabled]
      -->
      <input type="submit" value="Enviar" class="btn btn-success" [disabled]="userForm.invalid" />
    </form>

    <div *ngIf="user.nombre">
       <h2>Vista previa</h2>
       <h3>
        Soy {{user.nombre}} {{user.apellidos}} ({{user.genero}})
       </h3> 
       <p>Esta es mi biografia: 
         <br>
         {{user.bio}}</p>
    </div>

    <hr>

    <h2 class="subheader">Eventos</h2>
    <!-- (click) para cuando hago click -->
    <button (click)="hasDadoClick()">Evento click</button>
    <br>
    <br>
    <!-- (blur) para cuando entro al campo y luego salgo de un campo  -->
    <input type="text" [(ngModel)]="campo" (blur)="hasSalido()"  placeholder="Evento blur">
    {{campo}}
    <br>
    <br>
    <!-- (keyUp) para cuando entro al campo, pulso la tecla y la levanto -->
    <input type="text" [(ngModel)]="campo2" (keyup.enter)="hasPulsadoEnter()"  placeholder="Evento keyUp detectando en enter">
    {{campo2}}

  </section>
  <app-sidebar></app-sidebar>
</div>
