<div class="center">
  <section id="content">

    <article class="article-item article-detail">
        <div class="image-wrap">
            <img src="assets/images/imagesred.jpg" alt="Paisaje">
        </div>

        <h1 class="subheader">Artículo de prueba</h1>
        <span class="date"> <!--FECHA-->
            Hace 5 minutos
        </span>

        <p>
            Un Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores non ex ab eligendi doloremque odit earum aperiam iusto, ea reprehenderit quia quos consequuntur perspiciatis architecto eum accusantium excepturi assumenda eius.
        </p>
        <p>
            Dos Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores non ex ab eligendi doloremque odit earum aperiam iusto, ea reprehenderit quia quos consequuntur perspiciatis architecto eum accusantium excepturi assumenda eius.
        </p>
        <p>
            Tres Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores non ex ab eligendi doloremque odit earum aperiam iusto, ea reprehenderit quia quos consequuntur perspiciatis architecto eum accusantium excepturi assumenda eius.
        </p>
        <div class="clearfix"></div> <!--LIMPIAR-->
    </article>

  </section>
  <app-sidebar></app-sidebar>
</div>