<div class="center">
  <section id="content">

    <h1 class="subheader">{{ pageTitle }}</h1>

    <form class="mid-form" #articleForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="title">Título</label>
        <input
          type="text"
          name="title"
          #title="ngModel"
          [(ngModel)]="article.title"
          required
        />
        <small *ngIf="!title.valid && title.touched">
          El Título no es válido
        </small>
      </div>

      <div class="form-group">
        <label for="content">Contenido</label>
        <textarea
          name="content"
          #content="ngModel"
          [(ngModel)]="article.content"
          required
        ></textarea>
        <small *ngIf="!content.valid && content.touched">
          El contenido no es válido
        </small>
      </div>

      <div class="form-group">
        <!-- Si esta activa la edicion entonces mostrame la mini imagen  -->
        <div class="image-thumb" *ngIf="no daaaaaaaaaaaaaaaaaaaaaaaaa">
            <img
              *ngIf="article.image"
              src="{{ url + 'get-image/' + article.image }}"
              alt="{{ article.title }}"
            />
            <img
              *ngIf="!article.image"
              src="../../../assets/images/DEFAULT.2jpg.png"
              alt="{{ article.title }}"
            />
        </div>
        <!-- [config]="afuConfig" Configuracion del boton de carga que se desarrolla en el componente.ts -->
        <!-- (ApiResponse)="imageUpload($event)">  EVENTO cuando se envia el doc a la API como response y me llama al metodo imageUpload-->
        <angular-file-uploader 
          [config]="afuConfig"
          (ApiResponse)="imageUpload($event)">
        ></angular-file-uploader>
      </div>

      <div class="clearfix"></div>

      <input
        type="submit"
        value="Guardar"
        class="btn btn-success"
        [disabled]="articleForm.invalid"
      />
    </form>
  </section>
  <app-sidebar></app-sidebar>
</div>
