<div clas="loading" *ngIf="!articles">
  Cargando...
</div>

<div id="articles" *ngIf="articles">
    <!-- Recorro el array de articles y en cada vuelta genero la variable article que los guarde individualmente y luego muestro el titulo de cada uno -->
    <article class="article-item" *ngFor="let article of articles">
      <div class="image-wrap">
        <!-- La imagen necesita de la url para mostrarse por completo,
         entonces en el componente blog.component.ts traigo la global URL
        y le concateno la ruta para extraer de la api la imagen -->
        <img *ngIf="article.image" src="{{ url + 'get-image/'+ article.image }}" alt="{{ article.title }}" />
        <img *ngIf="!article.image" src="../../../assets/images/DEFAULT.2jpg.png" alt="{{ article.title }}" />
      </div>
      <h2>{{ article.title }}</h2>
      <span class="date">
        <!-- Estos pipes vienen con la libreria moment instalada -->
        {{ article.date | amLocale: 'es' | amTimeAgo }}
      </span>
      <!-- del routing uso el path: 'blog/article/:id', component: ArticleComponent -->
      <a [routerLink]="['/blog/articulo', article._id]">Leer más</a>
      <div class="clearfix"></div>
    </article>
  </div>
