<div id="slider" >
    <h1>You Rock</h1>
    <a href="blog.html" class="btn-white" >
        <span id="irAlBlog0"> Acesse o Blog</span><br>
        <span id="irAlBlog1">Go To The Blog</span><br>
        <span id="irAlBlog2">Gehen Sie Zum Blog</span><br>
        <span id="irAlBlog3">انتقل إلى المدونة</span><br>
        <span id="irAlBlog4">Ir AL blog </span><br>
        <span id="irAlBlog5">Перейти в блог</span><br>
        <span id="irAlBlog6">ブログに行く</span><br>
        <span id="irAlBlog7">Gaan na blog</span><br>
        <span id="irAlBlog8">轉到博客 </span><br>
        <span id="irAlBlog9">V</span><br>
    </a>




</div>