
#slider{
    width: 100%;
    background-image: url(../../../assets/images/fire_PNG6024.png);
    background-repeat: none;
    background-size: cover;
    background-color: rgb(185, 17, 17);
}
#slider h1{
    padding-top: 0.2em !important;
    font-size: 84px;
    color: azure !important;
}