
#slider{
    width: 100%;
    background-image: url(../../../assets/images/fire_PNG6024.png);
    background-repeat: none;
    background-size: cover;
    background-color: rgb(185, 17, 17);
}
#slider h1{
    font-size: 4rem;
    color:  rgb(185, 17, 17) !important;
}