@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Pushster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Faster+One&family=Indie+Flower&family=Libre+Baskerville&family=Meddon&family=Mitr:wght@300&family=Monoton&family=Notable&family=Pushster&family=Raleway+Dots&family=Ruslan+Display&family=Yuji+Hentaigana+Akebono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Indie+Flower&family=Pushster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Faster+One&family=Indie+Flower&family=Meddon&family=Mitr:wght@300&family=Monoton&family=Notable&family=Pushster&family=Raleway+Dots&family=Ruslan+Display&family=Yuji+Hentaigana+Akebono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Indie+Flower&family=Mitr:wght@300&family=Pushster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Faster+One&family=Indie+Flower&family=Meddon&family=Mitr:wght@300&family=Monoton&family=Notable&family=Pushster&family=Raleway+Dots&family=Ruslan+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Faster+One&family=Indie+Flower&family=Meddon&family=Mitr:wght@300&family=Monoton&family=Notable&family=Pushster&family=Raleway+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Indie+Flower&family=Meddon&family=Mitr:wght@300&family=Monoton&family=Pushster&family=Raleway+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Indie+Flower&family=Meddon&family=Mitr:wght@300&family=Monoton&family=Notable&family=Pushster&family=Raleway+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Indie+Flower&family=Mitr:wght@300&family=Monoton&family=Pushster&family=Raleway+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Indie+Flower&family=Mitr:wght@300&family=Monoton&family=Pushster&display=swap');
body{
    text-align: center;
    margin: 0px;
    padding: 0px;
    /*FUENTES*/
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased; /*Suavisa la fuente*/
    -moz-font-smoothing: antialiased; /*Para mozila*/
    -moz-osx-font-smoothing: antialiased; /*Para mac*/
}
#header{
    height: 120px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    border-top: 5px solid #f13e3e;
    background: white;
}
#logo{
    width: 30%;
    font-size: 30px;
    float: left;
    margin-top: 35px;
}

#logo img{
    display: block; /*Asi se puede meter margin y float*/
    float: left;
    height: 60px;
    margin-top: -9px;
    margin-right: 5px;
    animation: latir infinite 2s linear; /*"latir" es el nombre que le pongo a la animacion, infinito es que lo haga por tiempo indefinido, linear que sea continuo*/
}
@keyframes latir{ /*Significa que creamos la animacion latir */
    0% { /*Desde que empieza o podria ser 10% x ej */
        transform: scale(1, 1);
    }
    50% { /*Hasta que termina o podria poner 100% x ej */
        transform: scale(1.02, 1.02);
    }
    55% {
        transform: scale(0.95, 0.95);
    }
    100% {
        transform: scale(1, 1);
    }
}

#brand{
    display: block;
    margin: 0px;
    float: left;
}
.center{
    width: 80%;
    margin: 0px auto; /*centra el contenido*/
}
#menu{
    width: 70%;
    float: right;
    font-size: 18px;
}
#menu ul{
    line-height: 85px;/*la altura de la linea*/
    width: 60%;
    float: right;
}
#menu ul li{
    display: inline-block; /*pone los elementos al lado */
    list-style: none; /*saca los items*/
    height: 46px;
    margin-right: 15px;
    margin-left: 15px;

}
#menu a{
    text-decoration: none; /*saca los subrayados*/
    color: #444;
    font-weight: bolder;
    transition: 300ms all; /*transicion al hover */
}
#menu a:hover, .active {
    text-decoration: underline solid 4px red ;
}
.active {
    color: #f13e3e  !important ;  /* !IMPORTANT para que sea lo prioritario*/
}
.clearfix{ 
    clear: both;/*Bloquea los floats que no suban al header*/
    float: none; /* limpia los floats del header para que los floats del main no se cuelen arriba*/
}
#slider, slider-big{
    width: 100%;
    height: 700px;
    /* line-height: 320px; */
    color:black;
    text-shadow: 0px 0px 5px #444; /*sombreado de texto*/
    background: rgb(181, 33, 7);
    background: -moz-radial-gradient(center, ellipse cover, rgb(181, 33, 7) 0%, rgb(181, 33, 7) 0%, rgb(181, 33, 7) 66%, rgb(181, 33, 7) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(248,80,50,1)), color-stop(0%, rgba(241,111,92,1)), color-stop(66%, rgba(230,31,5,1)), color-stop(100%, rgba(231,56,39,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 0%, rgba(230,31,5,1) 66%, rgba(231,56,39,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 0%, rgba(230,31,5,1) 66%, rgba(231,56,39,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 0%, rgba(230,31,5,1) 66%, rgba(231,56,39,1) 100%);
    background: radial-gradient(ellipse at center, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 0%, rgba(230,31,5,1) 66%, rgba(231,56,39,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=1 );
}

#slider h1{
    font-size: xx-large;
    font-family: 'Pushster', cursive;
    position: absolute;
    bottom: -120px;
    left: 10%;
}
#slider a span{
    font-size: small;
}
#irAlBlog0{
    font-family: 'Indie Flower', cursive;
}
#irAlBlog1{
    font-family: 'Libre Baskerville', serif;
}
#irAlBlog2{
    font-family: 'Mitr', sans-serif;
}
#irAlBlog3{
    font-family: 'Raleway Dots', cursive;
}
#irAlBlog4{
    font-family: 'Monoton', cursive;
}
#irAlBlog5{
    font-family: 'Faster One', cursive;
}
#irAlBlog6{
    font-family: 'Cinzel', serif;
}
#irAlBlog7{
    font-family: 'Ruslan Display', cursive;
}
#irAlBlog8{
    font-family: 'Notable', sans-serif;
}
#irAlBlog9{
    font-family: 'Yuji Hentaigana Akebono', cursive;
}

.btn-white{
    display: block;
    background: gold;
    color: firebrick;
    padding: 10px;
    width: 200px;
    height: 400px;
    margin: 0px auto; /*para centrarlo */
    font-size: 18px;
    text-transform: uppercase; /*lo hace al texto todo en mayus*/
    text-shadow: none;
    text-decoration: none;
    line-height: 35px; /*lo pone al centro verticalmente*/
    box-shadow: 5px 5px 10px rgb(66, 66, 66);
    border-radius: 0px 0px 10px 10px;
    transition: 300ms all; /*tiempo de transición con el hover*/
}
.btn-white:hover{
    background: #000;
    color: white;
}
#slider.slider-small{
    height: 150px;
}
#slider.slider-small h1{
    margin-top: 0.2px;
    padding: 0px;
    padding-top: 53px;

}

#content{
    width: 70%;
    float: left;
    min-height: 650px;
    margin-right: 20px;
}
#sidebar{
    width: 25%;
    float: left;
}
.sidebar-item{
    background: #f7f7f7;
    padding: 20px;
    margin-top: 30px;
}
.sidebar-item h3{
    text-transform: uppercase; /*texto en mayúscula*/
    font-size: 18px;
    margin: 0px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 3px solid #eee;
}
.sidebar-item .btn{
    margin-top: 10px;
    margin: 0px auto;
}
.btn{
    display: block;
    background-color: black;
    color: white;
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    max-width: 120px;
    transition: 300ms all;
    border: none;
    cursor: pointer;
}
.btn-success{
    background-color: rgb(23, 150,19);
}
.btn-success:hover{/*HOVER es para cuando PASO POR ENCIMA EL RATON*/
    background-color: black;
}
.mid-form{
    width: 50%;
    margin: 0px auto; /*Para que se centre automaticamente*/
}
.mid-form label{
    display: block;
    float: left;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 17px;
}
input[type="text"],textarea{ /*SELECTOR POR ETIQUETA [ATRIBUTO="VALOR"] pongo , y aplico lo mismo heredo a textarea*/
    width: 100%;
    min-height: 30px;
    border: 1px solid #ccc;
    padding: 3px;
    margin-bottom: 5px;
    transition: 300ms all;
}
input[type="text"]:focus, textarea:focus{ /*FOCUS es para cuando HAGO CLICK*/
box-shadow: 0px 0px 5px #eee inset;/*box- shadow (es difuminado) INSET es para que lo meta por dentro del input*/
}
textarea{
    width: 100%;
    height: 150px;
    max-width: 100%;
    min-width: 100%;
    max-height: 300px;
    min-height: 150px;
}

.radio-button{
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
}

#footer{
    background-color: #f7f7f7;
    width: 100%;
    height: 70px;
    line-height: 70px;
    color: #444;
}
#footer p{
    margin: 0px;
    padding: 0px;
}
.article-item{
    width: 100%;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: left;
}
.article-item .image-wrap{
    width: 130px;
    height: 130px;
    overflow: hidden; /* oculta todo lo que sobresalga del div */
    float: left;
    margin-right: 15px;
    border: 1px solid #ccc;
}
.article-item .image-wrap img{
    text-align: center;
    width: 130px; /*esto ajusta la imagen*/
    height: 130px;
}
.article-item h2{
    display: block;
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-bottom: 7px;
}
.article-item .date{
    display: block;
    width: 100%;
    color: rgb(122,122,122);
}
.article-item a{
    display: block;
    color: #444;
    text-decoration: none;
    margin-top: 10px;
}
.article-item a:hover{
    text-decoration: underline;
}

.subheader{
    font-size: 38px;
    border-bottom: 1px solid #eee;
    padding: 10px;
}
.article-detail .image-wrap{
    float: none; /**/
    width: 100%;
    height: 300px;
}
.article-detail .image-wrap img{
    width: 100%; /*En este caso priorizo que ocupe todo le ancho*/
    height: auto; /*Con uno de los 2 parametros en auto se queda a proporción la imagen*/
}
.article-detail .subheader{
    margin-top: 15px;
    margin-bottom: 0px;
    border: none;
}
.year-green{
    display:block;
    background: green;
    color: white;
    padding: 5px;
    width: 121PX;
    text-align: center;
}
.year-red{
    display:block;
    background: red;
    color: white;
    padding: 5px;
    width: 121px;
    text-align: center;
}




/*RESPONSIVE*/
@media (max-width: 1488px){/*Desde 0 hasta 1488px*/
    .center{
        width: 85%;
    }
}

@media (max-width: 1314px){/*Desde 0 hasta 1314px */
    .center{
        width: 95%;
    }
    #menu ul{
        width: auto;
    }
}
@media(max-width:1148px){
    #logo{
        width: 35%;
    }
    #menu {
        width: 65%;
    }
}
@media (max-width: 996px){/*Desde 0 hasta 996px*/
    #logo{
        width: 39%;
    }
    #menu {
        width: 61%;
    }
}

@media (max-width: 884px){/*Desde 0 hasta 797px*/
    #logo{
        float: none;
        width: auto;
        margin: 0px auto;
        margin-top: 20px;
        float: left;
    }
    #brand{
        width: 60%;
    }
    #menu ul, #menu ul{        
        clear: both; /*Limpieza de flotados*/
        float: none;/*No flote el contenido lo deje natural*/
        width: 100%;
        margin: 0px;
        padding: 0px;
        line-height: 43px;
    }
    #menu {
        width: 100%;
    }
  
    #content{
        float: none;
        width: 100%;
    }
    #sidebar{
        float: none;
        width: 60%;
        margin: 0px auto;
        margin-bottom: 50px;
    }
    #slider h1{
        padding-top: 115px;
        font-size: 25px;
    }
    .mid-form{
        width: 70%;
    }
} 
@media (max-width: 800){/*Desde 0 hasta 497px*/
    .center{
      width: 100%;
    }
    img.app-logo{
        margin: 0px;
        width: 15%;
        display: inline;
    }
    #logo span{
        width: 80%;
        display: inline;
    }
    #logo img{
        margin: -10px;
        display: inline-block;
    }
    #header{
        min-height: 130px;
        overflow: hidden;
    }
    #menu{
        width: 100%;
    }
    #menu ul li{
        margin-left: 7px;
        margin-right: 7px;
    }
    #slider{
        height: 180px;
    }
    #slider h1{
        font-size: 19px;
        padding-top: 30px;
    }
    #slider .btn-white{
        margin-top: 20px;
    }
    #slider.slider-small{
        height: 100px;
    }
    #slider.slider-small h1{
        padding-top: 35px;
    }
}