<header id="header">
    <div class="center">
<!--LOGO-->
        <div id="logo">
            <img src="assets/images/Angular_full_color_logo.svg.png" alt="Logotipo" class="app-logo">
            <span id="brand">
                <strong>Framework</strong>Angular
            </span>
        </div>

<!--        MENU
Para que la interacción en angular sea SPA y cambie sin actualizar la url
DEBO CAMBIAR EL HREF Y USAR [routerLink]="['/rutaDeseadaAEnlazar']" 
-->
        <nav id="menu">
            <ul>
                <li>
                    <a [routerLink]="['/home']" >Inicio</a>
                </li>
                <li>
                    <a [routerLink]="['/blog']">Blog</a>
                </li>
                <li>
                    <a [routerLink]="['/formulario']">Formulario</a>
                </li>
                <li>
                    <a [routerLink]="['/peliculas']">Películas</a>
                </li>
                <li>
                    <a [routerLink]="['/pagina-de-pruebas']">Página</a>
                </li>
            </ul>
        </nav>

        <!--LIMPIAR FLOTADOS FLOATS-->
        <div class="clearfix"></div>
    </div>
</header>