<header id="header">
    <div class="center">
<!--LOGO-->
        <div id="logo">
            <img src="assets/images/Angular_full_color_logo.svg.png" alt="Logotipo" class="app-logo">
            <span id="brand">
                <strong>Framework</strong>Angular
            </span>
        </div>

<!--MENU-->
        <nav id="menu">
            <ul>
                <li>
                    <a href="index.html">Inicio</a>
                </li>
                <li>
                    <a href="blog.html">Blog</a>
                </li>
                <li>
                    <a href="formulario.html">Formulario</a>
                </li>
                <li>
                    <a href="#">Página 1</a>
                </li>
                <li>
                    <a href="#">Página 2</a>
                </li>
            </ul>
        </nav>

        <!--LIMPIAR FLOTADOS FLOATS-->
        <div class="clearfix"></div>
    </div>
</header>