<header id="header">
    <div class="center">
        <div id="logo">
            <img src="../../../assets/images/Lips_SVG_Kiss_Svg_9.png" alt="Logotipo" class="app-logo">
            <span id="brand">
                <strong>Angular</strong>
            </span>
        </div>
        <nav id="menu">
            <ul>
                <li>
                    <a [routerLink]="['/home']" [routerLinkActive]="['active']" >Inicio</a>
                </li>
                <li>
                    <a [routerLink]="['/blog']" [routerLinkActive]="['active']">Blog</a>
                </li>
                <li>
                    <a [routerLink]="['/formulario']" [routerLinkActive]="['active']" >Formulario</a>
                </li>
                <li>
                    <a [routerLink]="['/peliculas']" [routerLinkActive]="['active']">Películas</a>
                </li>
                <li>
                    <a [routerLink]="['/pagina-de-pruebas']" [routerLinkActive]="['active']">Página</a>
                </li>
            </ul>
        </nav>
        <div class="clearfix"></div>
    </div>
</header>