<app-slider [directivaNombre]="'Películas'" [size]="'small'"></app-slider>

<div class="center">
  <section id="content">

    <div id="favorita" *ngIf="favorita">
      <h2 class="subheader">Mi Película Favorita actualmente es:</h2>
      <h4>
         {{ favorita.title | uppercase }}  <!--o lowercase -->
      </h4>
      <h5>
        Del  {{ favorita.year | date  }} <!--sino parametro 'mm/dd/yyyy' -->
      </h5>
      <h5>
       Hoy es {{ this.fecha | date: 'short' }} <!--sino parametro full o fullDate-->
     </h5>
     <h5>
       {{this.fecha | espar}} <!--Pipe creada por mi-->
     </h5>
    </div>


    <div id="articles" *ngIf="peliculas">
          <div *ngFor="let pelicula of peliculas; let i = index">
            <app-pelicula 
              [pelicula]="pelicula"
              [i]="i"
              (MarcarFavorita)="mostrarFavorita($event)"
            ></app-pelicula>
          </div>
    </div>
  </section>
  <app-sidebar></app-sidebar>
</div>
